// $fa-font-path: "~font-awesome/fonts";
// @import "~font-awesome/scss/font-awesome";

@import '_variable.scss'; 
@import '_movie-card.scss'; 
@import '_cast-card.scss';
@import '../../../node_modules/material-components-web/material-components-web.scss';

header { 
     background-color:rgba(0,0,0,0.75) !important;
}

body {
    background-color: rgb(15, 15, 15);  
    margin: 0px !important;
}

#search-box {
    flex: 1 1 auto; 
    order: 2;
    outline: none;
    border: 1px solid gray;
    border-radius: 0;
    background-color:rgba(0,0,0,0.80);
    padding: 10px;
    font-family: $heading-font-family; 
    font-size: 16px;
    transition: all 0.05s ease-in-out;
    color: $accent-color;
    -webkit-appearance: none;
    max-width: 200px;
    margin-right: 20px;
    &:focus {
      height: 40px;
      font-size: 20px;
      max-width: 400px;
    }
  }

.mdc-toolbar__title{
    font-family: $heading-font-family;
    color: $accent-color; 
    font-weight: $mont-regular !important;
    font-size: 20px;
}

.category-title{
    margin-left: 40px; 
    font-size: 16px;
} 

.video-container {
    margin-left: 28px;
    margin-right: 28px;
    .mdc-card {
        img {
            width: 100%;
        }
    }
    a{
        color: white;
        text-decoration: none;
        &:hover{
            color: white;
            text-decoration: none;
        }
    }
}

.slick-slide {
    margin-right: 3px;
    margin-left: 3px;
}

.slick-prev:before,
.slick-next:before {
    color: gray;
}