@import '_variable.scss';
@import '_movie-card.scss';
@import '../../../node_modules/material-components-web/material-components-web.scss';
header {
     background-color:rgba(0,0,0,0.75) !important;
}

body {
    background-color: rgb(15, 15, 15);
    margin: 0px !important;
}

.mdc-toolbar__title{
    font-family: $heading-font-family;
    color: $accent-color; 
    font-weight: $mont-regular !important;
    font-size: 20px;
}

.category-title{
    margin-left: 40px; 
    //margin-top: 80px;
    font-size: 16px;
} 

.video-container {
    margin-left: 20px;
    margin-right: 20px;
    .mdc-card {
        img {
            width: 100%;
        }
    }
    a{
        color: white;
        text-decoration: none;
        &:hover{
            color: white;
            text-decoration: none;
        }
    }
}

.slick-slide {
    margin-right: 3px;
    margin-left: 3px;
}

.slick-prev:before,
.slick-next:before {
    color: gray;
}